body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.main-header {
  margin-bottom: 60px;
  padding-bottom: 60px;
  background-color: #f3f7f9;
}

.header-top-wrap {
  margin-bottom: 45px;
  background-color: #293449;
}

.header-top-wrap a {
  color: #ffffff;
}

.header-top-flex-wrap {
  display: flex;
}

.header-logo {
  width: 220px;
  padding: 10px 0 8px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-search {
  width: 270px;
}

.header-search input {
  position: relative;
  width: 100%;
  padding: 12px 0 11px 49px;
  background-color: #293449;
  border: 0;
}

.header-search input::before {
  content: '1234';
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
}

.header-search input:hover {
  background-color: #212a3a;
}

.header-search input:focus {
  background-color: #ffffff;
}

.header-search input:focus::-webkit-input-placeholder {
  color: #000000;
}

.header-search input:focus::-moz-placeholder {
  color: #000000;
}

.header-search input:focus:-ms-input-placeholder {
  color: #000000;
}

.header-search input:focus:-moz-placeholder {
  color: #000000;
}

.header-search input::-webkit-input-placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-search input::-moz-placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-search input:-ms-input-placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-search input:-moz-placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-bookmarks {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  padding: 12px 0 12px 44px;
}

.header-bookmarks::before {
  content: '';
  position: absolute;
  left: 18px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-cart {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  padding: 12px 0 12px 50px;
}

.header-cart::before {
  content: '';
  position: absolute;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-bookmarks:hover,
.header-cart:hover {
  background-color: #212a3a;
}

.header-bookmarks:hover::before,
.header-cart:hover::before {
  opacity: 1;
}

.header-bookmarks:active,
.header-cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-bookmarks:active::before,
.header-cart:active::before {
  opacity: 0.5;
}

.header-cart-full,
.header-cart-full:hover,
.header-cart-full:active {
  background-color: #ee3643;
}

.header-checkout {
  box-sizing: border-box;
  width: 150px;
  padding: 12px 0 12px 21px;
  background-color: #63a63e;
}

.header-checkout:hover {
  background-color: #5fbb2d;
}

.header-checkout:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.header-middle-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.header-description {
  width: 210px;
  margin: 0;
  padding: 4px 39px 0 51px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  color: #ee3643;
}

.header-info {
  width: 300px;
}

.header-info a {
  display: block;
  width: 145px;
  margin-bottom: 5px;
  padding: 10px 50px 8px 71px;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 3px solid #ffffff;
}

.header-info p {
  margin: 0;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-user-panel {
  width: 300px;
}

.user-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 13px 0 11px 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-button:hover {
  color: #ee3643;
}

.user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-login {
  position: relative;
  width: 121px;
  margin-left: 19px;
  margin-right: 5px;
  padding-left: 47px;
  padding-right: 27px;
}

.header-login::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  opacity: 0.3;
}

.header-login:hover::before {
  opacity: 1;
}

.header-registration {
  width: 150px;
  padding-left: 25px;
  padding-right: 25px;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-exit-button {
  background-color: #ffffff;
}

.user-panel-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-panel-link:hover {
  color: #ee3643;
}

.user-panel-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-nav-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 940px;
  min-height: 55px;
  list-style: none;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.main-nav-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 5px 0 0 #293449;
}

.main-nav-link {
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.main-nav-link-first {
  padding-left: 52px;
}

.main-nav-link-last {
  padding-right: 55px;
}

.main-nav-link:hover {
  background-color: #293449;
}

.main-nav-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
}

.promo-flex-wrap {
  display: flex;
  justify-content: space-between;
}

.promo-left-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 620px;
}

.promo-right-wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.promo-item {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.promo-item:first-child {
  margin-right: 20px;
}

.promo-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.promo-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  background-color: #ffbf47;
}

.promo-tool {
  background-color: #3bbce3;
}

.promo-equipment {
  background-color: #dc91d8;
}

.promo-discounts {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

.promo-slider {
  width: 620px;

  color: #ffffff;
}

.promo-slide-first {
  min-height: 266px;
  background-color: #685c53;
  background-image: url(../img/slider-drill.jpg);
  background-repeat: no-repeat;
}

.promo-slide-second {
  display: none;
  background-color: #685c53;
  background-image: url(../img/slider-perforator.jpg);
  background-repeat: no-repeat;
}

.slider-title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

.promo-slider p {
  font-size: 18px;
  line-height: 24px;
}

.popular-title {
  display: flex;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-title h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.popular-title a {
  margin-left: auto;
}

.product-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  width: 220px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  border: 1px solid #eaeaea;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
}

.product-old-price {
  text-decoration: line-through;
  color: #a9a9a9;
}

.product-price {
  color: #ffffff;
  background-color: #ee3643;
}

.product-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-btn-buy {
  color: #ffffff;
  background-color: #63a63e;
}

.product-btn-buy:hover {
  background-color: #5fbb2d;
}

.product-btn-buy:active {
  background-color: #518534;
}

.product-btn-add-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}

.product-btn-add-bookmarks:hover {
  border-color: #32425c;
}

.product-btn-add-bookmarks:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  width: 218px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.service {
  padding-top: 63px;
  background-color: #f4f8f9;
}

.service-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.service-description {
  margin-bottom: 75px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-slider {
  display: flex;
  justify-content: space-between;
}

.service-tabs {
  width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-tab-link {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  background-color: #32425c;
}

.service-tab-link:hover {
  background-color: #293449;
}

.service-tab-link-active {
  color: #32425c;
  background-color: #ffffff;
}

.service-slide {
  width: 620px;
}

.service-slide h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-slide p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-delivery {
  background-image: url(../img/delivery-background.png);
  background-repeat: no-repeat;
}

.service-guarantee {
  display: none;
  background-image: url(../img/guarantee-background.png);
  background-repeat: no-repeat;
}

.service-credit {
  display: none;
  background-image: url(../img/credit-background.png);
  background-repeat: no-repeat;
}

.info-block {
  padding-top: 75px;
}

.info-block-wrap {
  display: flex;
  justify-content: space-between;
}

.info-left {
  width: 540px;
}

.info-right {
  width: 300px;
}

.info-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.info-block p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info-list li {
  font-size: 18px;
  line-height: 22px;
}

.main-footer {
  background-color: #32425c;
}

.footer-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  width: 220px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
}

.footer-nav-items {
  width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-link {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-middle-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 380px;
}

.footer-address p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-second-nav-items {
  width: 540px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.second-nav-link {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.second-nav-link:hover {
  text-decoration: underline;
}

.second-nav-link:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom-wrap {
  background-color: #293449;
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  width: 240px;
}

.footer-copyright p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  width: 160px;
  list-style: none;
}

.footer-social-link {
  color: #ffffff;
}

.footer-bottom-feedback {
  width: 140px;
}

.footer-bottom-feedback p {
  font-size: : 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-feedback a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-bottom-feedback a:hover {
  text-decoration: underline;
}

.footer-bottom-feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom-design {
  width: 140xp;
}

.footer-bottom-design p{
  font-size: : 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-design a{
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-bottom-design a:hover {
  text-decoration: underline;
}

.footer-bottom-design a:active {
  color: #ee3643;
  text-decoration: none;
}

.write-us-modal {
  display: none;
}

.write-us-modal-form label {
  font-size: 18px;
  line-height: 18px;
}

.write-us-modal-form input {
  border: 2px solid #dee3e4;
}

.write-us-modal-form textarea {
  border: 2px solid #dee3e4;
}

.submit-wrap {
  background-color: #f4f4f4;
}

.write-us-modal-form input[type="submit"] {
  border: none;
}

.map-popup {
  display: none;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-color: #eeeae3;
}

.breadcrumbs-items {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-content-wrap {
  display: flex;
  justify-content: space-between;
}

.left-catalog-content {
  width: 220px;
}

.right-catalog-content {
  width: 700px;
}

.filter p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.catalog-form label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.catalog-form legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.catalog-form input[type="submit"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-sort {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-sort span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.catalog-sort-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.active-sort {
  color: #ee3643;
}

.pagination-items {
  list-style: none;
}

.pagination-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
}

.pagination-link:hover {
  border-color: #bdc6ca;
}

.pagination-link:active {
  border-color: #ee3643;
  color: #000000;
}

.pagination-link-active {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.catalog-description {
  background-color: #f2f6f8;
}

.catalog-description h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.catalog-description p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.cart-popup {
  display: none;
}
